<mat-toolbar color="primary">
  <a
   routerLink ="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
</a>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  <a
    *ngIf="!isLogin"
  routerLink ="/login"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
   <!-- <span>Login</span> -->
    <mat-icon>login</mat-icon>
</a>
  <a
    *ngIf="!isLogin"
   [routerLink] ="'/signup'"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
  
    <mat-icon>app_registration</mat-icon>
</a>
<button
    *ngIf="isLogin && user" 
    mat-icon-button
    class="example-icon"
    style="margin-right:15%"
    aria-label="Example icon-button with share icon"
  >
  {{ login.getUser().username }}
<!--   
    <mat-icon>logout</mat-icon> -->
</button>
<a
    (click)="logout()"
    *ngIf="isLogin"
   [routerLink] ="'/'"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
  
    <mat-icon>logout</mat-icon>
</a>
</mat-toolbar>
